* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    margin-right: 20px;
}

.menu button img{
    width: 20px;
    color: aliceblue;
    display: inline-block;
}

.menu-btn {
    background-color: #6100ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    display:flex;
    align-items: center;
}

.menu-btn:hover{
    background-color: #fff;
}

.background {
    height: 100vh;
    background: radial-gradient(circle at 50% 50%, rgba(113, 0, 255, 0.9), black 70%);
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    background: radial-gradient(circle at 50% 50%, #A259FF, #6100FF, #FF5722);
    opacity: 0.5;
    animation: rotate 30s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}